:root {
  --unplanted-patch-rgb: 141, 110, 99;
  --primary-color: #5D4037;
  --primary-color-light: #795548;
  --primary-color-dark: #3E2723;
  --secondary-color: #689F38;
  --secondary-color-light: #AED581;
  --secondary-color-dark: #558B2F;
  --color-gray: #757575;
  --color-gray-light: #EEEEEE;
  --color-gray-dark: #424242;
  --error-color: #E53935;
  --error-color-light: #FFCDD2;
  --error-color-dark: #B71C1C;
  --plot-max-width: 70vw;
  --plot-max-columns: 20;
  --plot-max-height: calc(80vh - 70px);
  --plot-overview-max-height: 200px;
}

h2 {
  font-size: 20px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0px 15vw;
}

body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #ebebeb;
  color: var(--color-gray-dark);
  font-family: Helvetica, sans-serif;
  font-size: 15px;
}

body > header {
  display: flex;
  min-height: 60px;
  align-items: center;
  padding: 15px 15vw;
  justify-content: space-between;
  background-color: var(--primary-color);
  font-size: 20px;
  color: #ffffff;
  border-bottom: solid 1px var(--primary-color-dark);
}

body > header h1 {
  font-size: 30px;
  font-weight: normal;
}

body > header a {
  text-decoration: none;
  color: inherit;
}

body > header button {
  border: none;
  background-color: inherit;
  font: inherit;
  color: inherit;
}

body > header button:hover {
  background-color: inherit;
}

button,
a.cancel {
  font-size: 15px;
  background-color: var(--secondary-color);
  text-decoration: none;
  white-space: nowrap;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
}

button:hover {
  background-color: var(--secondary-color-dark);
}

button.delete {
  background-color: var(--error-color);
}

button.delete:hover {
  background-color: var(--error-color-dark);
}

button.cancel,
a.cancel {
  background-color: var(--color-gray);
}

button.cancel:hover,
a.cancel:hover {
  background-color: var(--color-gray-dark);
}

.circled {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px;
  height: 40px;
  width: 40px;
  font-size: 30px;
  border-radius: 50%;
}

.circled:hover {
  background-color: var(--primary-color-light);
}

#addPlot {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

#addPlot:hover {
  background-color: var(--secondary-color-dark);
  border-color: var(--secondary-color-dark);
}

.form-list {
  display: flex;
  gap: 5px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 5px 20px;
}

.form-list > form {
  flex: 1;
}

.form-list > div.flex {
  flex: 1;
}

.form-list ul {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.form-list li {
  display: flex;
  flex: 1;
  gap: 5px;
  justify-content: flex-end;
}

.form-list li + li {
  border-top: 1px solid;
  border-color: #a5a5a5;
}

.form-list li label {
  padding: 15px 5px;
}

.form-list li input {
  flex: 1;
  padding: 10px 20px;
  text-align: right;
  border: none;
  min-width: 0px;
}

.flash-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.flash {
  padding: 5px 20px;
  border: 1px solid;
  border-radius: 5px;
}

.flash.success {
  color: #43A047;
  border-color: #43A047;
  background-color: #C8E6C9;
}

.flash.error {
  color: var(--error-color);
  border-color: var(--error-color);
  background-color: var(--error-color-light);
}

#plots {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}

.plot-container.overview {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.patch.overview {
  display: flex;
  align-items: center;
  justify-content: center;
  --patch-width-overview: min(60px, calc(var(--plot-overview-max-height) / var(--plot-rows)));
  width: var(--patch-width-overview);
  aspect-ratio: 1;
  font-size: calc(var(--patch-width-overview) / 3);
}

.plot-link {
  color: inherit;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  align-items: flex-start;
  text-decoration: none;
}

.plot-link h3 {
  background-color: var(--secondary-color);
  word-wrap: break-word;
  padding: 10px 10px;
  color: #ffffff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.plot-link h3:hover,
.plot-link:hover > h3  {
  background-color: var(--secondary-color-dark);
}

#plot-data {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.plot-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-height: var(--plot-max-height);
  flex: 1;
}

.row {
  display: flex;
  min-width: 0px;
}

.patch,
.overlay,
.overlay form,
.overlay button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  --patch-width: min(calc(var(--plot-max-width) / var(--plot-columns)), calc(var(--plot-max-height) / var(--plot-rows)));
  width: var(--patch-width);
  font-size: calc(var(--patch-width) / 3);
  aspect-ratio: 1;
  min-width: 0px;
}

.patch {
  background-color: rgba(var(--plant-rgb), 0.25);
}

.overlay {
  border-radius: 50% 0%;
}

.overlay:hover {
  background-color: rgba(var(--plant-rgb), 1);
}

.overlay.selected {
  background-color: rgba(var(--plant-rgb), 0.75);
}

.overlay.selected:hover {
  background-color: rgba(var(--plant-rgb), 1);
}

#plot-details {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  /* align-items: center; */
  flex: 1;
  gap: 20px;
}

#plant-selection,
#statistics {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 5px;
}

#plant-info-details {
  display: flex;
  justify-content: space-between;
}

table {
  border-collapse: collapse;
  table-layout:fixed;
  background-color: #ffffff;
}

table th {
  background-color: var(--secondary-color-light);
}

table,
table th,
table td {
  word-wrap: break-word;
  padding: 5px 15px;
  border: solid 1px var(--color-gray-dark);
  text-align: center;
}

#plant-input:invalid ~ #info-button,
#plant-input:placeholder-shown ~ #info-button {
  border: red 1px solid;
  display: none;
}

#info-button {
  background-color: var(--primary-color-light);
  font-size: 15px;
}

#info-button:hover {
  background-color: var(--primary-color);
}

#plant-info-details table th {
  background-color: rgba(var(--staged-plant-rgb), 0.5);
}